# list

In [1]:
numbers = [5, 2, 8, 2, 3, 5, 10, 3]
unique_sorted = sorted(set(numbers))
print("Sorted list without duplicates:", unique_sorted)

Sorted list without duplicates: [2, 3, 5, 8, 10]

# tuple

In [2]:
fruits = ("apple", "banana", "cherry")
print("Tuple example:", fruits)
print("Access second fruit:", fruits[1])

Tuple example: ('apple', 'banana', 'cherry')
Access second fruit: banana

# set

In [4]:
colors = {"red", "blue", "green", "blue"}
print("Set with unique colors:", colors)

Set with unique colors: {'green', 'blue', 'red'}

# dictionary

In [7]:
student = {
    "name": "Ali",
    "marks": {
        "math": 88,
        "science": 92,
        "history": {
            "term1": 78,
            "term2": 81
        }
    }
}
print("Science Marks:", student["marks"]["science"])
print("History Term 2 Marks:", student["marks"]["history"]["term2"])

Science Marks: 92
History Term 2 Marks: 81

# list with duplicates

In [8]:
numbers= [1,2,3,4,5,6,7,8,9,6,5,4,3,2,17,8,9]
unique_sorted = sorted(set(numbers))
print("Sorted list without duplicates:", unique_sorted)

Sorted list without duplicates: [1, 2, 3, 4, 5, 6, 7, 8, 9, 17]

# deeply nested dictionary

In [9]:
person = {
    "name": "Esmail",
    "location": {
        "country": "India",
        "city": {
            "name": "Kurnool",
            "pin": 518001
        }
    },
    "education": {
        "college": {
            "name": "GPCET",
            "branch": "ECE"
        }
    }
}
print("City Name:", person["location"]["city"]["name"])
print("College Branch:", person["education"]["college"]["branch"])

City Name: Kurnool
College Branch: ECE

# task 2

# factorial function

In [13]:
def factorial(n):
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result
print("Factorial of 5:", factorial(7))

Factorial of 5: 5040

# prime number checker

In [17]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
print("Is 17 a prime number?", is_prime(17))
print("Is 28 a prime number?", is_prime(28))

Is 17 a prime number? True
Is 28 a prime number? False

# Use built-in modules

In [20]:
import math
import random
import datetime

print("Square root of 49:", math.sqrt(49))
print("Ceiling of 4.3:", math.ceil(4.3))
print("Floor of 4.7:", math.floor(4.7))
print("Random integer between 1 and 100:", random.randint(1, 100))

now = datetime.datetime.now()
print("Current date and time:", now)
print("Today's date:", now)

Square root of 49: 7.0
Ceiling of 4.3: 5
Floor of 4.7: 4
Random integer between 1 and 100: 68
Current date and time: 2025-06-19 21:13:02.583381
Today's date: 2025-06-19 21:13:02.583381

# Exception Handling & task3

# Division by Zero Handling

In [32]:
try:
    user_input = input("Enter an integer: ")
    number = int(user_input)
    print("✅ You entered:", number)
except ValueError:
    print("❌ That's not a valid integer!")
finally:
    print("🔁 Done checking user input.")

Enter an integer:  99

✅ You entered: 99
🔁 Done checking user input.

# Validate User Input Types

In [30]:
user_input = "abc"  
try:
    user_input = input("Enter an integer: ")
    number = int(user_input)
    print("✅ You entered:", number)
except ValueError:
    print("❌ That's not a valid integer!")
finally:
    print("🔁 Done checking user input.")

Enter an integer:  77

✅ You entered: 77
🔁 Done checking user input.

# pratice problems

# FizzBuzz from 1 to 20

In [35]:

for i in range(1, 21):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

In [37]:
# Find largest number in a list
numbers = [12, 45, 7, 89,77,99, 23, 67]
largest = max(numbers)
print("Largest number is:", largest)

Largest number is: 99

In [38]:
# Reverse a given string
text = "QuantLake"
reversed_text = text[::-1]
print("Reversed string:", reversed_text)

Reversed string: ekaLtnauQ

In [39]:
def is_palindrome(n):
    return str(n) == str(n)[::-1]

print("Is 121 a palindrome?", is_palindrome(121))   # True
print("Is 123 a palindrome?", is_palindrome(123))   # False

Is 121 a palindrome? True
Is 123 a palindrome? False