# Task 1: Reshaping DataFrames

In [2]:
import pandas as pd
df = pd.read_csv("sales_data_with_discounts.csv")
df.columns = df.columns.str.strip()  
print(df.columns.tolist())
pivot_sales = df.pivot_table(values='Net Sales Value', index='City', columns='Brand', aggfunc='sum')
print( pivot_sales.head())
avg_sales = df.pivot_table(values='Net Sales Value', index='BU', columns='Brand', aggfunc='mean')
print(avg_sales.head())
melted = pd.melt(df, 
                 id_vars=['Date', 'City', 'Brand'], 
                 value_vars=['Volume', 'Discount Amount', 'Net Sales Value'],
                 var_name='Metric', 
                 value_name='Value')

print(melted.head())

['Date', 'Day', 'SKU', 'City', 'Volume', 'BU', 'Brand', 'Model', 'Avg Price', 'Total Sales Value', 'Discount Rate (%)', 'Discount Amount', 'Net Sales Value']
Brand         Babaji          Gear          Jeera        Orange         RealU  \
City
C      145264.746866  88725.408398  426125.675835  3.619953e+06  2.667158e+06

Brand       Sumsang         Vedic           Viva          YouM
City
C      3.294200e+06  93665.996987  315843.934962  3.058914e+06
Brand           Babaji         Gear        Jeera         Orange         RealU  \
BU
FMCG       3228.105486  1478.756807          NaN            NaN           NaN
Lifestyle          NaN          NaN  4734.729732            NaN           NaN
Mobiles            NaN          NaN          NaN  120665.104341  59270.171579

Brand            Sumsang      Vedic         Viva        YouM
BU
FMCG                 NaN  2081.4666          NaN         NaN
Lifestyle            NaN        NaN  5264.065583         NaN
Mobiles    109806.681809        NaN          NaN  67975.8709
         Date City  Brand  Metric  Value
0  01-04-2021    C  RealU  Volume   15.0
1  01-04-2021    C  RealU  Volume   10.0
2  01-04-2021    C   YouM  Volume    7.0
3  01-04-2021    C   YouM  Volume    6.0
4  01-04-2021    C   YouM  Volume    3.0

# Task 2: Apply Custom Functions

In [4]:
df['Profit Margin (%)'] = (df['Net Sales Value'] / df['Total Sales Value']) * 100
df['Profit Category'] = df['Profit Margin (%)'].apply(
    lambda x: 'High' if x > 80 else 'Medium' if x > 50 else 'Low'
)
df['High Discount Flag'] = df['Discount Rate (%)'].apply(lambda x: 'Yes' if x > 90 else 'No')
print("\n📊 Profit Margin Category and Discount Flags:\n", df[['Model', 'Profit Margin (%)', 'Profit Category', 'Discount Rate (%)', 'High Discount Flag']].head())

📊 Profit Margin Category and Discount Flags:
         Model  Profit Margin (%) Profit Category  Discount Rate (%)  \
0       RU-10          88.345180            High          11.654820
1   RU-9 Plus          88.439502            High          11.560498
2       YM-99          90.543114            High           9.456886
3  YM-99 Plus          93.064615            High           6.935385
4      YM-98           82.004337            High          17.995663

  High Discount Flag
0                 No
1                 No
2                 No
3                 No
4                 No

# Task 3: Mapping & Replacing

In [6]:
city_code_map = {
    "Hyderabad": "HYD",
    "Chennai": "CHE",
    "Bangalore": "BLR",
    "Delhi": "DEL",
    "Mumbai": "MUM"
}

df['City Code'] = df['City'].map(city_code_map)
df['BU Updated'] = df['BU'].replace({'Consumer': 'Retail'})
print("\n🔁 City mapped to codes and BU updated:\n", df[['City', 'City Code', 'BU', 'BU Updated']].head())

🔁 City mapped to codes and BU updated:
   City City Code       BU BU Updated
0    C       NaN  Mobiles    Mobiles
1    C       NaN  Mobiles    Mobiles
2    C       NaN  Mobiles    Mobiles
3    C       NaN  Mobiles    Mobiles
4    C       NaN  Mobiles    Mobiles

# Task 4: Combining DataFrames

In [8]:
data1 = {
    'Model': ['A100', 'B200', 'C300'],
    'Sales': [500, 600, 700],
    'City': ['Hyderabad', 'Chennai', 'Delhi']
}
df1 = pd.DataFrame(data1)
data2 = {
    'Model': ['D400', 'E500'],
    'Sales': [800, 900],
    'City': ['Bangalore', 'Mumbai']
}
df2 = pd.DataFrame(data2)
vertical_concat = pd.concat([df1, df2], ignore_index=True)
print("\n⬇️ Vertical Concatenation:\n", vertical_concat)
data3 = {
    'Brand': ['BrandX', 'BrandY', 'BrandZ'],
    'Discount': [10, 15, 20]
}
df3 = pd.DataFrame(data3)
horizontal_concat = pd.concat([df1, df3], axis=1)
print("\n➡️ Horizontal Concatenation:\n", horizontal_concat)
data4 = {
    'Model': ['F600'],
    'Volume': [300]
}
df4 = pd.DataFrame(data4)
mismatch_concat = pd.concat([df1, df4], ignore_index=True)
print("\n⚠️ Concatenation with mismatched columns:\n", mismatch_concat)

⬇️ Vertical Concatenation:
   Model  Sales       City
0  A100    500  Hyderabad
1  B200    600    Chennai
2  C300    700      Delhi
3  D400    800  Bangalore
4  E500    900     Mumbai

➡️ Horizontal Concatenation:
   Model  Sales       City   Brand  Discount
0  A100    500  Hyderabad  BrandX        10
1  B200    600    Chennai  BrandY        15
2  C300    700      Delhi  BrandZ        20

⚠️ Concatenation with mismatched columns:
   Model  Sales       City  Volume
0  A100  500.0  Hyderabad     NaN
1  B200  600.0    Chennai     NaN
2  C300  700.0      Delhi     NaN
3  F600    NaN        NaN   300.0

# Task 5: Final Mini Exercise

In [9]:
df = df.dropna(subset=['Net Sales Value', 'City', 'Model']) 
df = df[df['Net Sales Value'] > 500] 
grouped = df.groupby(['City', 'Brand'])['Net Sales Value'].agg(['sum', 'mean', 'count']).reset_index()
def sales_level(x):
    if x > 1000:
        return 'High'
    elif x > 700:
        return 'Medium'
    else:
        return 'Low'

df['Sales Level'] = df['Net Sales Value'].apply(sales_level)
pivot_summary = df.pivot_table(
    values='Net Sales Value',
    index='Brand',
    columns='City',
    aggfunc='sum',
    fill_value=0
)
print("📦 Grouped Summary:\n", grouped.head())
print("\n🧩 Pivot Table (Brand vs City - Total Sales):\n", pivot_summary.head())
print("\n🆕 Sales Level Added:\n", df[['Model', 'Net Sales Value', 'Sales Level']].head())

📦 Grouped Summary:
   City   Brand           sum           mean  count
0    C  Babaji  1.447794e+05    3290.441582     44
1    C    Gear  8.760126e+04    1536.864223     57
2    C   Jeera  4.261257e+05    4734.729732     90
3    C  Orange  3.619953e+06  120665.104341     30
4    C   RealU  2.667158e+06   59270.171579     45

🧩 Pivot Table (Brand vs City - Total Sales):
 City               C
Brand
Babaji  1.447794e+05
Gear    8.760126e+04
Jeera   4.261257e+05
Orange  3.619953e+06
RealU   2.667158e+06

🆕 Sales Level Added:
         Model  Net Sales Value Sales Level
0       RU-10    160346.501180        High
1   RU-9 Plus     89323.897039        High
2       YM-99    102042.089843        High
3  YM-99 Plus    112235.925298        High
4      YM-98      19927.053770        High