In [70]:
from sqlalchemy import create_engine
import pandas as pd

In [71]:
engine = create_engine("mysql+mysqlconnector://root:root@localhost/Chinook")
customers_df = pd.read_sql("SELECT * FROM Customer", con=engine)
invoices_df = pd.read_sql("SELECT * FROM Invoice", con=engine)
merged_df = pd.merge(customers_df, invoices_df, on='CustomerId', how='inner')
print(merged_df.head())

   CustomerId FirstName   LastName  \
0           1      Luís  Gonçalves
1           1      Luís  Gonçalves
2           1      Luís  Gonçalves
3           1      Luís  Gonçalves
4           1      Luís  Gonçalves

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1  Embraer - Empresa Brasileira de Aeronáutica S.A.
2  Embraer - Empresa Brasileira de Aeronáutica S.A.
3  Embraer - Empresa Brasileira de Aeronáutica S.A.
4  Embraer - Empresa Brasileira de Aeronáutica S.A.

                           Address                 City State Country  \
0  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
1  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
2  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
3  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
4  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil

  PostalCode               Phone  ...                 Email SupportRepId  \
0  12227-000  +55 (12) 3923-5555  ...  luisg@embraer.com.br            3
1  12227-000  +55 (12) 3923-5555  ...  luisg@embraer.com.br            3
2  12227-000  +55 (12) 3923-5555  ...  luisg@embraer.com.br            3
3  12227-000  +55 (12) 3923-5555  ...  luisg@embraer.com.br            3
4  12227-000  +55 (12) 3923-5555  ...  luisg@embraer.com.br            3

   InvoiceId  InvoiceDate                   BillingAddress  \
0         98   2022-03-11  Av. Brigadeiro Faria Lima, 2170
1        121   2022-06-13  Av. Brigadeiro Faria Lima, 2170
2        143   2022-09-15  Av. Brigadeiro Faria Lima, 2170
3        195   2023-05-06  Av. Brigadeiro Faria Lima, 2170
4        316   2024-10-27  Av. Brigadeiro Faria Lima, 2170

           BillingCity BillingState BillingCountry BillingPostalCode Total
0  São José dos Campos           SP         Brazil         12227-000  3.98
1  São José dos Campos           SP         Brazil         12227-000  3.96
2  São José dos Campos           SP         Brazil         12227-000  5.94
3  São José dos Campos           SP         Brazil         12227-000  0.99
4  São José dos Campos           SP         Brazil         12227-000  1.98

[5 rows x 21 columns]

In [74]:
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',  
    database='Chinook'
)
cursor = conn.cursor()
cursor.execute("SELECT * FROM Invoice")
rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# Task 1: Advanced Filtering and Aggregation

In [75]:
df1= pd.DataFrame(rows, columns=columns)
print(df.head())

   InvoiceId  CustomerId InvoiceDate           BillingAddress BillingCity  \
0          1           2  2021-01-01  Theodor-Heuss-Straße 34   Stuttgart
1          2           4  2021-01-02         Ullevålsveien 14        Oslo
2          3           8  2021-01-03          Grétrystraat 63    Brussels
3          4          14  2021-01-06           8210 111 ST NW    Edmonton
4          5          23  2021-01-11          69 Salem Street      Boston

  BillingState BillingCountry BillingPostalCode  Total
0         None        Germany             70174   1.98
1         None         Norway              0171   3.96
2         None        Belgium              1000   5.94
3           AB         Canada           T6G 2C7   8.91
4           MA            USA              2113  13.86

# Task 2: Subquery

In [76]:
df2 = pd.DataFrame(rows2, columns=cols2)
print("\nTask 2 - Subquery Result:")
print(df2.head())

Task 2 - Subquery Result:
   InvoiceId  CustomerId InvoiceDate           BillingAddress BillingCity  \
0          1           2  2021-01-01  Theodor-Heuss-Straße 34   Stuttgart
1          2           4  2021-01-02         Ullevålsveien 14        Oslo
2          3           8  2021-01-03          Grétrystraat 63    Brussels
3          4          14  2021-01-06           8210 111 ST NW    Edmonton
4          5          23  2021-01-11          69 Salem Street      Boston

  BillingState BillingCountry BillingPostalCode  Total
0         None        Germany             70174   1.98
1         None         Norway              0171   3.96
2         None        Belgium              1000   5.94
3           AB         Canada           T6G 2C7   8.91
4           MA            USA              2113  13.86

# Task 3: Import SQL Results into Pandas

In [77]:
df3 = pd.read_sql(query3, con=engine)
print("\nTask 3 - Imported Data:")
print(df3.head())
print(df3.describe())

Task 3 - Imported Data:
   InvoiceId  CustomerId InvoiceDate           BillingAddress BillingCity  \
0          5          23  2021-01-11          69 Salem Street      Boston
1         12           2  2021-02-11  Theodor-Heuss-Straße 34   Stuttgart
2         19          40  2021-03-14           8, Rue Hanovre       Paris
3         26          19  2021-04-14          1 Infinite Loop   Cupertino
4         33          57  2021-05-15          Calle Lira, 198    Santiago

  BillingState BillingCountry BillingPostalCode  Total
0           MA            USA              2113  13.86
1         None        Germany             70174  13.86
2         None         France             75002  13.86
3           CA            USA             95014  13.86
4         None          Chile              None  13.86
        InvoiceId  CustomerId          InvoiceDate      Total
count   64.000000   64.000000                   64  64.000000
mean   210.531250   30.359375  2023-07-10 04:30:00  14.723750
min      5.000000    1.000000  2021-01-11 00:00:00  10.910000
25%    108.250000   16.750000  2022-04-13 06:00:00  13.860000
50%    211.500000   30.500000  2023-07-14 12:00:00  13.860000
75%    311.250000   44.250000  2024-09-28 18:00:00  13.860000
max    411.000000   59.000000  2025-12-14 00:00:00  25.860000
std    118.330311   16.935327                  NaN   2.639289

# Task 4: Modify SQL Data (e.g., check India)

In [78]:
cursor.execute("SELECT * FROM Customer WHERE Country = 'India';")
rows4 = cursor.fetchall()
cols4 = [desc[0] for desc in cursor.description]
df4 = pd.DataFrame(rows4, columns=cols4)
print("\nTask 4 - Updated Data:")
print(df4.head())

Task 4 - Updated Data:
   CustomerId FirstName    LastName Company              Address       City  \
0          58     Manoj      Pareek    None  12,Community Centre      Delhi
1          59      Puja  Srivastava    None    3,Raj Bhavan Road  Bangalore

  State Country PostalCode              Phone   Fax                     Email  \
0  None   India     110017  +91 0124 39883988  None   manoj.pareek@rediff.com
1  None   India     560001   +91 080 22289999  None  puja_srivastava@yahoo.in

   SupportRepId
0             3
1             3

# Task 5: Merge Using Pandas (SQL-style JOIN)

In [79]:
customers_df = pd.read_sql("SELECT * FROM Customer", con=engine)
invoices_df = pd.read_sql("SELECT * FROM Invoice", con=engine)

merged_df = pd.merge(customers_df, invoices_df, on='CustomerId', how='inner')
print("\nTask 5 - Merged DataFrame:")
print(merged_df.head())

Task 5 - Merged DataFrame:
   CustomerId FirstName   LastName  \
0           1      Luís  Gonçalves
1           1      Luís  Gonçalves
2           1      Luís  Gonçalves
3           1      Luís  Gonçalves
4           1      Luís  Gonçalves

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1  Embraer - Empresa Brasileira de Aeronáutica S.A.
2  Embraer - Empresa Brasileira de Aeronáutica S.A.
3  Embraer - Empresa Brasileira de Aeronáutica S.A.
4  Embraer - Empresa Brasileira de Aeronáutica S.A.

                           Address                 City State Country  \
0  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
1  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
2  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
3  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil
4  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP  Brazil

  PostalCode               Phone  ...                 Email SupportRepId  \
0  12227-000  +55 (12) 3923-5555  ...  luisg@embraer.com.br            3
1  12227-000  +55 (12) 3923-5555  ...  luisg@embraer.com.br            3
2  12227-000  +55 (12) 3923-5555  ...  luisg@embraer.com.br            3
3  12227-000  +55 (12) 3923-5555  ...  luisg@embraer.com.br            3
4  12227-000  +55 (12) 3923-5555  ...  luisg@embraer.com.br            3

   InvoiceId  InvoiceDate                   BillingAddress  \
0         98   2022-03-11  Av. Brigadeiro Faria Lima, 2170
1        121   2022-06-13  Av. Brigadeiro Faria Lima, 2170
2        143   2022-09-15  Av. Brigadeiro Faria Lima, 2170
3        195   2023-05-06  Av. Brigadeiro Faria Lima, 2170
4        316   2024-10-27  Av. Brigadeiro Faria Lima, 2170

           BillingCity BillingState BillingCountry BillingPostalCode Total
0  São José dos Campos           SP         Brazil         12227-000  3.98
1  São José dos Campos           SP         Brazil         12227-000  3.96
2  São José dos Campos           SP         Brazil         12227-000  5.94
3  São José dos Campos           SP         Brazil         12227-000  0.99
4  São José dos Campos           SP         Brazil         12227-000  1.98

[5 rows x 21 columns]