# Integer

In [9]:
a = 10  
print("Integer:", a)

Integer: 10

# float

In [10]:
b=1.07
print("float:",b)

float: 1.07

# string

In [11]:
name="Shaik Esmail"
print("string:",name)

string: Shaik Esmail

# boolean

In [13]:
is_student = True
print("boolean:",is_student)

boolean: True

# lists

In [14]:
fruits = ["apple", "banana", "cherry"]
print("List:", fruits)

List: ['apple', 'banana', 'cherry']

# tuple

In [15]:
colors = ("red", "green", "blue")
print("Tuple:", colors)

Tuple: ('red', 'green', 'blue')

# dictionary

In [16]:
student = {"name": "Esmail", "age": 20, "branch": "ECE"}
print("Dictionary:", student)

Dictionary: {'name': 'Esmail', 'age': 20, 'branch': 'ECE'}

# Arithmetic  Operators

In [17]:
x = 15
y = 7
print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)
print("Division:", x / y)
print("Modulus:", x % y)

Addition: 22
Subtraction: 8
Multiplication: 105
Division: 2.142857142857143
Modulus: 1

# Comparison operators

In [18]:
a = 10
b = 7
print("Equal:", a == b)
print("Not Equal:", a != b)
print("Greater than:", a > b)
print("Less than:", a < b)

Equal: False
Not Equal: True
Greater than: True
Less than: False

# if, else,elif

In [19]:
marks = 70

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
else:
    print("Grade: C or below")

Grade: C or below

# for loop

In [20]:
for i in range(1, 6):
    print("Number:", i)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

# while loop

In [23]:
count = 1
while count <= 5:
    print("Count:",count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5